.allCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.productCard{
    margin-top: 10rem;
    border: 1px solid #ffffffb9;
    width: 20rem;
    border-radius: 15px;
    padding: 2rem;
    height: 25rem;
    background-color: #ffffffb9;
}

.card{
    height: 5rem;
}